body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #e6fffa;
  }

a {
    text-decoration: none;
}
  
.header {
    color: #404040;
    margin-top: 1.5em;
}

h4 {
    color: #404040;
}

.container {
    text-align: center;
}

.row {
    margin-top: .25em;
    margin-bottom: 1.5em;
    justify-content: center;
}

/* unvisited link */
a:link {
    color: #66d4ff;
}

/* visited link */
a:visited {
    color: #00b339;
}
  
/* mouse over link */
a:hover {
    font-size: 125%;
}
