body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #e6fffa;
  }

  a {
    text-decoration: none;
  }
  
.header {
    color: #4d4d4d;
    margin-top: 1.5em;
}

h4 {
    color: #404040;
}

.container {
    margin-left: .25em;
    margin-right: .25em;
}

.row {
    margin-bottom: 1.5em;
}

/* unvisited link */
a:link {
    color: #66d4ff;
}

/* visited link */
a:visited {
    color: #00b339;
}
  
/* mouse over link */
a:hover {
    font-size: 125%;
}
