body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #e6fffa;
  }

  a {
    text-decoration: none;
  }
  
h1 {
    color: #4d4d4d;
}

h2 {
    color: #404040;
}

  /* unvisited link */
  a:link {
    color: #66d4ff;
  }
  
  /* visited link */
  a:visited {
    color: #00b339;
  }
  
  /* mouse over link */
  a:hover {
    font-size: 125%;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
      margin-top: -2.5em;
      margin-left: 15em;
      margin-right: 15em;
  }

